<div class="row">
    <div class="col-md-4">
        <h2>The Team</h2>
        <p>DJCollab is a cross platform application created by Alex Todd (atodd@ksu.edu), Ashley Coleman (ashley78@ksu.edu), Andy Gregoire (amgregoi@ksu.edu), and James Tyson (jbtyson@ksu.edu) during HackTech 2016.</p>
    </div>
    <div class="col-md-4">
        <h2>The Idea</h2>
        <p>DJCollab is the music solution for all of your parties. Anyone with Spotify premium can "start a party" in the app. This starts a queue of songs that will be played. Everyone has their favorite songs, and that's why friends can join your party. They can connect and queue up their favorite songs to keep a constant stream of good music. For the one friend with bad music taste, you can skip his songs.</p>
    </div>
    <div class="col-md-4">
        <h2>The Tech</h2>
        <p>Deployed with Azure, DJCollab is a REST API built ontop of ASP.NET. We currently have iOS and Android versions of the app that connect to each other through websockets so that no login is necessary. We also have a Javascript web client that can join parties.</p>
    </div>
</div>
